<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymyspankki</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>
            <span>
                Oikeita vastauksia tähän kysymykseen tähän mennessä: 
                <span th:text="${correct}">oikein</span>
                %
            </span>
        </h2>
        
        <h2>
            <span>
                Vääriä vastauksia tähän kysymykseen tähän mennessä: 
                <span th:text="${incorrect}">väärin</span>
                %
            </span>
        </h2>
        
        <a th:href="@{~/kysymys/{id}(id=${kysymys_id})}">Takaisin vastaamaan</a>
    </body>
</html>